<div class="container  bg-light shadow-3">
  <div class="row">
    <div class="col-md-4" *ngIf="githubProfile">
      <div class="">
        <p id="profile_name">{{githubProfile.name}}</p>
        <img class="img rounded-circle" src="{{githubProfile.avatar_url}}">
        <div class="card p-1 github_profile shadow" appCardHover>
          <p id="login">Username: <span><em>{{githubProfile.login}}</em></span></p>
          <p> Bio: <span>{{githubProfile.bio}}</span></p>
          <p> Repositories: <span>{{githubProfile.public_repos}}</span></p>
          <p>Followers: <span> {{githubProfile.followers}}</span></p>
          <p>Following: <span>{{githubProfile.following}}</span></p>
          <p><i class="fas fa-map-marker-alt"></i> <span>{{githubProfile.location}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-8 overflow-scroll shadow" id='repo-display'>
      <div class="row">
        <div class="div">
          <h2>Repositories</h2>
        </div>
        <div class=" col-md-6 card shadow pt-1 g-3 card-display" *ngFor="let githubRepos of githubRepos">
          <div class="card-head mb-lg-0">
            <h5>{{githubRepos.name}}</h5>
          </div>
          <div class="card-body">
            <p>{{githubRepos.description}}</p>
          </div>
          <div class="row  d-flex justify-content-space-between">
            <div class="col-3 d-flex details">
              <a href="{{githubRepos.html_url}}" id="details"><i class="fa fa-github-alt"> Details</i></a>
            </div>
            <div class="col-4"></div>
            <div class="col-5 ">
              <p id="created"> Created at: <span>{{githubRepos.created_at|date|daysCount}}</span></p>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>