<div class="container mt-2">
  <div class="row">
    <div class="col-md-2"></div>
    <div class=" col-md-8 d-flex justify-content-around">
      <div class="card reposearch">
        <div class="card-header ">
          <h4>Search for Github Users here</h4>
        </div>
        <div class="card-body">
          <form class="form-control ">
            <div class="form-group">
              <input name="searchGhUser" name="searchGhUser" size="40" type="search" class="form-control" placeholder="Enter gitHub username">
            </div>
            <div class="div">
              <button type="submit" value="Search" class="btn btn-secondary ">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>
    <div class="row">
      <div class="col search_image">
        <img src="assets/search.jpg" class="img-fluid" alt="search Image" id="search_image">
      </div>
    </div>
  </div>